        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Streams <i id="update-streams" class="fa fa-refresh" title="Update list of streams" style="cursor: pointer;"></i>
                </h3>
            </div>
            <div class="panel-body" id="list">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-primary" autocomplete="off" id="watch">Watch or Listen</button>
                    <div class="btn-group btn-group-sm">
                        <button autocomplete="off" id="streamset" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Streams list<span class="caret"></span>
                        </button>
                        <ul id="streamslist" class="dropdown-menu" role="menu">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
