        <script type="text/javascript" src="/static/adapter.min.js" ></script>
        <script type="text/javascript" src="/static/jquery.min.js" ></script>
        <script type="text/javascript" src="/static/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/bootbox.min.js"></script>
        <script type="text/javascript" src="/static/spin.min.js"></script>
        <script type="text/javascript" src="/static/toastr.min.js"></script>
        <script type="text/javascript" src="/static/janus/janus.js" ></script>
        <script type="text/javascript" src="/static/janus/streaming.js"></script>
