<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UV4L WebRTC</title>

{% include 'uv4l/stream/style_includes.html' %}

    </head>
    <body>
        <h1>
            <span>WebRTC Webcam Stream Viewer</span>
        </h1>

{% include 'uv4l/stream/dom_video_start.html' %}
                <p class="overlay">remote</p>
{% include 'uv4l/stream/dom_video_end.html' %}

{% include 'uv4l/stream/dom_options.html' %}

{% include 'uv4l/stream/script_includes.html' %}

    </body>
</html>
