<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Janus WebRTC Gateway: Streaming Demo</title>

{% include 'coordinates/style_includes.html' %}
{% include 'janus/stream/style_includes.html' %}

    </head>
    <body>

        <div class="container" id="streams">
            <div class="row">
                <div class="col-md-12">

{% include 'janus/stream/dom_options.html' %}

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

{% include 'janus/stream/dom_video_start.html' %}

{% include 'coordinates/dom.html' %}

{% include 'janus/stream/dom_video_end.html' %}

                </div>
            </div>
        </div>

{% include 'coordinates/script_includes.html' %}
{% include 'janus/stream/script_includes.html' %}

    </body>
</html>
