        <div id="contentContainer" class="overlay">
            <img id="thing" src="/static/img/smiley_red.png">
        </div>

        <div id="knob-controller">
          <fieldset>
            <legend><b>Knob Controller</b></legend>
            <input id="knob_clockwise_button" type="image" src="/static/img/clockwise_arrow.svg" width="70" height="70" onclick="knob_clockwise()" />
            <input id="knob_press_button" type="image" src="/static/img/you-are-here.svg" width="70" height="70" onclick="knob_press()" />
            <input id="knob_counterclockwise_button" type="image" src="/static/img/counterclockwise_arrow.svg" width="70" height="70" onclick="knob_counterclockwise()" />
          </fieldset>
        </div>
